body {
    background-color: lightgreen;
}
.aueb-img{
    width:1000px;
    height:auto;
    border: 4px solid yellow
}
.aueb-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: 400;
    text-shadow: 2px 2px black;
    color: #762124;
    text-align: center;
}
/* στον τιτλο θελω να βαλω το ιδιο χρωμα που εχει η εικονα.
μπορω να το βρω ειτε απο τα web development tools στην σελιδα, η
απο την εφαρμογη gimp  */
